body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


#particles-js {
    /* position: absolute; */
    height: 99%;
    width: 100%;
    z-index: -1;
    background: rgb(184, 94, 94);
}

#header {
    position: absolute;
    background-color: aliceblue;
    width: 100%;
}

h3 {
    padding-left: 10px;
}

.gameWindow {
    position: absolute;
    background-color: black;
    /* opacity: 10%; */
    width: 250px;
    height: 375px;
    border-style: solid;
}

.description {
    position: absolute;
    width: inherit;
    height: 120px;
    background-color: beige ;
    /* border-style: solid; */
}

#piano-window{
    left: 45vh;
    top: 10vh;
}

#guessing-window {
    left: 120vh;
    top: 10vh;
}